<div class="login-container">
  <div class="card-container">
   <div class="form-container">
    <h1>Patatas Subscribers ToGo</h1>
    <form [formGroup]="loginForm">
      <mat-form-field appearance="outline" class="example-full-width">
        <mat-label>Username</mat-label>
        <input formControlName="userName" matInput>
        <mat-error>
          Username is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="example-full-width">
        <mat-label>Password</mat-label>
        <input formControlName="password" type="password" matInput>
        <mat-error>
          Password is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <button (click)="validatorUser()" mat-raised-button>Login</button>
    </form>

   </div>
  </div>
</div>