.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../../../assets/img/background-potato.jpg");
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  .card-container {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 50%;
    box-shadow: 0 5px 5px #0006;
    border: 1px solid #000;
    border-radius: 1rem;
    align-items: center;
    justify-content: center;
  }
  .form-container {
    display: flex;
    flex-direction: column;
    h1 {
      color: #fff;
      filter: opacity(1) !important;
    }
    form {
      display: flex;
      flex-direction: column;
      padding: 4rem 0rem;
      mat-form-field {
        margin-top: 1rem;
        mat-label {
          color: #fff;
        }
        mat-error {
          color: rgb(238, 80, 80);
          font-size: 15px;
        }
      }
      input {
        height: 30px;
        margin: 0.5rem 0rem;
        color: #fff;
      }
      button {
        margin-top: 2%;
        border: 1px solid #000;
        color: #fff;
        &:hover {
          background-color: #fff;
          color: #000;
        }
      }
    }
  }
}
@media (width < 768px) {
  .login-container {
    background-image: url("../../../assets/img/potato-background-mobile.jpg");
    .card-container {
      width: 97%;
    }
  }
}
