.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("/assets/img/background-potato-home.jpg");
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;

  .title-container {
    color: #fff;
    padding: 2rem;
    h1 {
      font-size: 50px;
    }
  }

  .create-container {
    padding: 0px 0rem 1rem 91rem;
  }

  .table-container {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    mat-label {
      color: #fff;
    }
    input {
      color: #fff;
    }
    td, th {
      width: 14%;
    }
  }
}

@media (width < 768px) {
  .home-container {
    .create-container {
      padding: 0px 0rem 1rem 16rem;
    }
    .title-container{
       h1{
        line-height: 1;
       }
    }
    .table-container{
        width: 89%;
    }
    .hidden{
      display: none;
    }
  }
  mat-paginator{
    padding-bottom: 4%;
  }
}
