<div class="title-container">
  <h1 matDialogTitle>{{titleForm}}</h1>
</div>
<div matDialogContent class="form-container">
  <form [formGroup]="formSubscriber">

    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input formControlName="Name" matInput  />
      <mat-error>
        Name is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input formControlName="Email" matInput  />
      <mat-error>
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Country code</mat-label>
      <input formControlName="CountryCode" matInput  />
      <mat-hint>Eg: CO</mat-hint>
      <mat-error *ngIf="!editData && formSubscriber?.value.CountryCode.length > 2">Incorrect country code</mat-error>
      <mat-error *ngIf="!editData && formSubscriber?.value.CountryCode.length == 0" > Country code is <strong>required</strong></mat-error>
      <mat-error>
        
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Phone</mat-label>
      <input formControlName="PhoneNumber" matInput  />
      <mat-error *ngIf="!editData && formSubscriber?.value.PhoneNumber.length != 0">Wrong phone number</mat-error>
      <mat-error *ngIf="!editData && formSubscriber?.value.PhoneNumber.length == 0"> Phone is <strong>required</strong></mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Job title</mat-label>
      <input formControlName="JobTitle" matInput />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Area</mat-label>
      <input formControlName="Area" matInput />
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions class="form-button">
  <button mat-raised-button color="primary" (click)="addSubscriber()" >{{actionBtn}}</button>
  <button mat-raised-button color="warn" mat-dialog-close>Cancel</button>
</div>